#!/usr/bin/make -f

%:
	dh ${@} --with autotools_dev

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared CFLAGS="$(CFLAGS) -D_LARGEFILE_SOURCE"

override_dh_auto_install:
	$(MAKE) prefix=$(CURDIR)/debian/tmp/usr install

	install -D -m 0755 .libs/rdiff debian/tmp/usr/bin/rdiff

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip --dbg-package=librsync-dbg
